.single-task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 95%; */
  min-height: 2.3rem;
  margin-top: 10px;
  border-radius: 7px;
  background: #25252F;
  cursor: pointer;
}

.icon {
  width: .6rem;
  height: .6rem;
  margin: 0 8px;
  border: 1.5px solid #FC6B97;
  border-radius: 50%;
}

.icon-fill {
  background: #FC6B97;
}

.task {
  flex-grow: 1;
  color: white;
}

.completed {
  text-decoration: line-through;
  color: #AFAFAF;
}

.single-task button {
  min-height: 1.7rem;
  margin: 0 3px;
  border: none;
  border-radius: 4px;
  background: #8181a0;
  color: white;
  cursor: pointer;
}

.single-task form {
  display: flex;
  flex-grow: 1;
}

.single-task input {
  flex-grow: 1;
  /* width: 80%; */
  height: 2rem;
  flex-grow: 1;
  padding-left: 5px;
  margin: 0 4px;
  border: none;
  border-radius: 5px;
  background: #17171D;
  font-size: 1rem;
  color: aliceblue;
  outline: none;
}