.todo-containter {
  flex-grow: 1;
  padding: 2rem 0;
  overflow-y: auto;
}

.todo-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 40%;
  margin: 0 auto;
}

.todo-content > h2 {
  color: white;
}

@media (max-width: 945px) {
  .todo-content {
    width: 70%;
  }
}

@media (max-width: 580px) {
  .todo-content {
    width: 90%;
  }
}